.slideList {
  display: flex;
  flex-direction: row;

  height: 230px;
  background: #FFFFFF;
  border: 1px #dfdfdf;
  border-radius: 15px;
  padding-left: 30px;
}

.slideList::after {
  content: '';
  min-width: 10px;
}

.thumbnail {
  position: relative;
  width: 360px;
  min-width: 360px;
  height: 88%;
  margin-top: 1%;
  border-radius: 15% ;
  margin-right: 20px;
}

.thumbnail > div {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0.3);
  pointer-events: none;
  user-select: none;
  transform-origin: left top;
  border: 1px solid black;
}