.app {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  align-items: center;
}

.slideContainer
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
  width: 100%;
  min-height: 865px;
  transition: height 500ms ease-in-out;
  background-color: #DCDCDC;
}

.slideListContainer {
  position: relative;
  transition: height 500ms ease-in-out;
  width: 100%;
  height: 50px;
  overflow-x: visible;
  overflow-y: hidden;
  bottom: 0;
  background: #FFFFFF;
}

.slideListContainer:hover {
  height: 230px;
} 

.namePresentation {
  position: absolute;
  left: 42px;
  top: 0;
  width: 231px;
  height: 31px;
  font-family: "IBM Plex Sans Condensed";
  font-size: 24px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}