.slide {
  box-sizing: border-box;

  width: 1200px;
  height: 674px;
  left: 360px;
  top: 143px;
  min-height: 100px;
  min-width: 60px;

  background: #FCFCFC;
  border: 0.7px solid #DCDCDC;
  border-radius: 5px;
}
